In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# create df from csv file and take a look
df = pd.read_csv('crash_2016.csv')
print('shape:', df.shape)
df.head()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19,34,37,44,46,80,84,88,91,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

shape: (630720, 171)

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,14207787,N,N,N,N,N,Y,N,01/05/2016,10:59 AM,...,0,0,2,0,0,0,28.0,175.0,NaN,NaN
1,14259624,N,N,N,N,N,Y,N,01/30/2016,04:13 PM,...,0,0,5,0,0,0,NaN,35.0,NaN,NaN
2,14768622,N,N,N,N,N,Y,N,02/09/2016,11:54 PM,...,0,0,1,0,0,0,15.0,35.0,NaN,NaN
3,14838618,N,N,N,N,N,N,N,01/01/2016,12:46 AM,...,0,0,3,0,0,0,282.0,35.0,NaN,NaN
4,14838631,N,N,N,N,N,N,N,01/01/2016,12:32 AM,...,0,0,4,1,0,0,15.0,35.0,NaN,NaN

In [4]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Columns: 171 entries, Crash_ID to Investigator_Narrative
dtypes: float64(77), int64(35), object(59)
memory usage: 822.9+ MB

In [5]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 46097421 missing values in total.

In [6]:
#get some detail on the numbers
df.describe()

,Crash_ID,Rpt_CRIS_Cnty_ID,Rpt_City_ID,Rpt_Latitude,Rpt_Longitude,Rpt_Rdwy_Sys_ID,Rpt_Road_Part_ID,Crash_Speed_Limit,Rpt_Sec_Rdwy_Sys_ID,Rpt_Sec_Road_Part_ID,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
count,6.307200e+05,630720.000000,630720.000000,153231.000000,153231.000000,630720.000000,630720.000000,630720.000000,608659.000000,608130.000000,...,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,513512.000000,565781.000000,253188.000000,0.0
mean,1.519703e+07,108.232861,521.366224,31.013700,-96.942587,11.668431,1.408570,40.823914,15.957122,1.248695,...,0.132583,0.268706,2.009289,0.179070,0.429760,0.006080,131.280383,105.173838,111.387917,NaN
std,2.005272e+05,70.245937,630.720725,1.821750,1.977573,7.886571,1.334039,18.171931,5.864234,1.108207,...,0.459865,0.687584,1.926289,0.447161,0.851072,0.087325,115.074012,174.629471,260.511146,NaN
min,1.317352e+07,1.000000,1.000000,25.837460,-106.645920,1.000000,1.000000,-1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,1.000000,1.000000,NaN
25%,1.502060e+07,57.000000,136.000000,29.895650,-97.745235,3.000000,1.000000,30.000000,15.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000,24.000000,8.000000,NaN
50%,1.520226e+07,101.000000,254.000000,30.424450,-96.672160,15.000000,1.000000,40.000000,19.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,90.000000,35.000000,17.000000,NaN
75%,1.536763e+07,165.000000,427.000000,32.715225,-95.457530,19.000000,1.000000,55.000000,19.000000,1.000000,...,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,282.000000,123.000000,63.000000,NaN
max,1.573935e+07,254.000000,8862.000000,36.500480,-93.507950,19.000000,7.000000,85.000000,19.000000,10.000000,...,40.000000,51.000000,105.000000,45.000000,51.000000,9.000000,363.000000,1326.000000,1403.000000,NaN

In [7]:
# need to bring in the new crash 2021 data
# this is crash data from 1/1/2021 to 10/28/2021
# create df from csv file and take a look
df1 = pd.read_csv('crash_texas.csv')
print('shape:', df1.shape)
df1.head()

shape: (81740, 171)

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19,34,44,46,80,84,91,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,17562314,N,N,N,N,N,Y,N,10/28/2021,06:49 AM,...,0,1,3,0,1,0,282.0,35.0,NaN,NaN
1,18534544,N,N,N,N,N,N,N,10/18/2021,12:33 AM,...,0,0,1,0,0,0,15.0,122.0,NaN,NaN
2,18534557,N,N,N,N,N,N,N,10/18/2021,11:35 PM,...,0,0,1,0,0,0,282.0,22.0,NaN,NaN
3,18534558,N,N,N,N,N,N,N,10/18/2021,12:10 AM,...,0,0,0,0,1,0,282.0,35.0,NaN,NaN
4,18534587,N,N,N,N,N,Y,N,10/18/2021,12:47 AM,...,0,0,1,0,0,0,282.0,35.0,NaN,NaN

In [8]:
# need to determine what method/s to use to address the null values
print('There are %d missing values in total.' % df1.isna().sum().sum())

There are 6034333 missing values in total.

In [9]:
#get some detail on the numbers for the new data frame
df1.describe()

,Crash_ID,Rpt_CRIS_Cnty_ID,Rpt_City_ID,Rpt_Latitude,Rpt_Longitude,Rpt_Rdwy_Sys_ID,Rpt_Road_Part_ID,Crash_Speed_Limit,Rpt_Sec_Rdwy_Sys_ID,Rpt_Sec_Road_Part_ID,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
count,8.174000e+04,81740.000000,81740.000000,16453.000000,16453.000000,81740.000000,81740.000000,81740.000000,78487.000000,78487.000000,...,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,65163.000000,77188.000000,27788.000000,0.0
mean,1.858636e+07,107.813237,2218.891326,31.091231,-97.511789,11.390066,1.364277,42.435564,15.805751,1.190299,...,0.133876,0.228627,1.968534,0.197773,0.393235,0.006655,131.305603,107.189408,109.808982,NaN
std,2.584818e+04,69.913226,3913.059386,1.978759,2.174128,7.913152,1.239948,17.385819,6.005994,0.827469,...,0.475819,0.628845,1.848648,0.461445,0.835357,0.093225,114.579021,192.335199,266.456892,NaN
min,1.756231e+07,1.000000,1.000000,25.865940,-106.596930,1.000000,1.000000,-1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,1.000000,1.000000,NaN
25%,1.856521e+07,57.000000,151.000000,29.756910,-98.405110,3.000000,1.000000,35.000000,15.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000,28.000000,8.000000,NaN
50%,1.858657e+07,101.000000,270.000000,31.479800,-97.312120,15.000000,1.000000,40.000000,19.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,90.000000,35.000000,17.000000,NaN
75%,1.860738e+07,161.000000,443.000000,32.736740,-95.743750,19.000000,1.000000,55.000000,19.000000,1.000000,...,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,282.000000,123.000000,63.000000,NaN
max,1.864707e+07,254.000000,9999.000000,36.409360,-93.520630,19.000000,7.000000,85.000000,19.000000,7.000000,...,47.000000,29.000000,76.000000,15.000000,70.000000,4.000000,363.000000,1468.000000,1603.000000,NaN

In [10]:
# check the counts for the first df
df.value_counts()

Series([], dtype: int64)

In [11]:
# check the counts for the second df
df1.value_counts()

Series([], dtype: int64)