In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('crash_2016.csv')
print('shape:', df.shape)
df.head()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19,34,37,44,46,80,84,88,91,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

shape: (630720, 171)

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,14207787,N,N,N,N,N,Y,N,01/05/2016,10:59 AM,...,0,0,2,0,0,0,28.0,175.0,NaN,NaN
1,14259624,N,N,N,N,N,Y,N,01/30/2016,04:13 PM,...,0,0,5,0,0,0,NaN,35.0,NaN,NaN
2,14768622,N,N,N,N,N,Y,N,02/09/2016,11:54 PM,...,0,0,1,0,0,0,15.0,35.0,NaN,NaN
3,14838618,N,N,N,N,N,N,N,01/01/2016,12:46 AM,...,0,0,3,0,0,0,282.0,35.0,NaN,NaN
4,14838631,N,N,N,N,N,N,N,01/01/2016,12:32 AM,...,0,0,4,1,0,0,15.0,35.0,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Columns: 171 entries, Crash_ID to Investigator_Narrative
dtypes: float64(77), int64(35), object(59)
memory usage: 822.9+ MB

In [4]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 46097421 missing values in total.