# Texas Crash Data 2016

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle
from sklearn.model_selection import train_test_split

In [2]:
# create df from csv file and take a look
df = pd.read_csv('crash_2016z.csv')
print('shape:', df.shape)
df.head()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

shape: (630720, 27)

,Crash_Fatal,Cmv_Involv,Schl_Bus,Active_School_Zone,Crash_Date,Crash_Time,Outside_City_Limit,Private_Dr_Fl,Toll_Road_Fl,Crash_Speed_Limit,...,Street_Name,Street_Nbr,Day_of_Week,Incap_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
0,N,N,N,N,1/5/2016,10:59 AM,N,N,N,35,...,S ZARZAMORA ST,2307.0,TUE,0,0,0,2,0,0,0
1,N,N,N,N,1/30/2016,4:13 PM,N,N,N,35,...,SE 25TH AVE,711.0,SAT,0,0,0,5,0,0,0
2,N,N,N,N,2/9/2016,11:54 PM,N,N,N,25,...,LINNWOOD DR,NaN,TUE,0,0,0,1,0,0,0
3,N,N,N,N,1/1/2016,12:46 AM,N,N,N,40,...,IH0035E,NaN,FRI,0,0,0,3,0,0,0
4,N,N,N,N,1/1/2016,12:32 AM,N,N,N,35,...,SH0075,NaN,FRI,0,0,0,4,1,0,0

In [3]:
# too many colums to delete, need to delete before bringing in csv file.
# deleting columns not needed for my review
# df = df.drop(columns=['Investigat_Service_ID', 'Investigat_DA_ID', 'Investigator_Narrative', 'Standstop',
#                'Yield', 'Poscrossing_ID', 'WDCode_ID', 'CrossingNumber', 'RRCo', 'Bridge_Rte_Struct_Func_ID',
#'Bridge_IR_Struct_Func_ID', 'Deck_Width', 'Bridge_Dir_Of_Traffic_ID', 'Culvert_Type_ID', 'Roadway_Width',
#                'Bridge_Srvc_Type_On_ID', 'Bridge_Srvc_Type_Under_ID', 'Bridge_Loading_Type_ID', 'Bridge_Loading_In_1000_Lbs',
#                'Approach_Width', 'Bridge_Median_ID', 'Structure_Number', 'I_R_Min_Vert_Clear', 'Dd_Degr',
#                'Feature_Crossed', 'Cd_Degr', 'Delta_Left_Right_ID', 'Curve_Type_ID', 'Curve_Lngth', 'Shldr_Use_Left_ID',
#                'Approach_Width', 'Bridge_Rte_Struct_Func_ID', 'Shldr_Use_Right_ID', 'Othr_Factr_ID', 'Bridge_Srvc_Type_On_ID',
#                'Bridge_Srvc_Type_Under_ID', 'Road_Algn_ID', 'Delta_Left_Right_ID', 'Cd_Degr', 'Delta_Left_Right_ID',
#                'Dd_Degr'])

In [4]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Crash_Fatal             630720 non-null  object
 1   Cmv_Involv              630720 non-null  object
 2   Schl_Bus                630720 non-null  object
 3   Active_School_Zone      630720 non-null  object
 4   Crash_Date              630720 non-null  object
 5   Crash_Time              630720 non-null  object
 6   Outside_City_Limit      630720 non-null  object
 7   Private_Dr_Fl           630720 non-null  object
 8   Toll_Road_Fl            630720 non-null  object
 9   Crash_Speed_Limit       630720 non-null  int64
 10  Road_Constr_Zone        630720 non-null  object
 11  Road_Constr_Zone_Wrkr   630720 non-null  object
 12  Investigat_Notify_Time  630720 non-null  object
 13  Investigat_Arrv_Time    630720 non-null  object
 14  Report_Date             630720 non-null  object
 15  Latitude                578193 non-null  float64
 16  Longitude               578193 non-null  float64
 17  Street_Name             630718 non-null  object
 18  Street_Nbr              282135 non-null  object
 19  Day_of_Week             630720 non-null  object
 20  Incap_Injry_Cnt         630720 non-null  int64
 21  Nonincap_Injry_Cnt      630720 non-null  int64
 22  Poss_Injry_Cnt          630720 non-null  int64
 23  Non_Injry_Cnt           630720 non-null  int64
 24  Unkn_Injry_Cnt          630720 non-null  int64
 25  Tot_Injry_Cnt           630720 non-null  int64
 26  Death_Cnt               630720 non-null  int64
dtypes: float64(2), int64(8), object(17)
memory usage: 129.9+ MB

In [5]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 453641 missing values in total.

In [6]:
# changing N and Y to 0 and 1
df = df.replace(to_replace=['N', 'Y'], value=[0,1])

In [7]:
df = df.astype({'Crash_Fatal': 'int64'})

In [8]:
# fill in blank data which is not dtype int64 with 0
df = df.fillna(0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Crash_Fatal             630720 non-null  int64
 1   Cmv_Involv              630720 non-null  int64
 2   Schl_Bus                630720 non-null  int64
 3   Active_School_Zone      630720 non-null  int64
 4   Crash_Date              630720 non-null  object
 5   Crash_Time              630720 non-null  object
 6   Outside_City_Limit      630720 non-null  int64
 7   Private_Dr_Fl           630720 non-null  int64
 8   Toll_Road_Fl            630720 non-null  int64
 9   Crash_Speed_Limit       630720 non-null  int64
 10  Road_Constr_Zone        630720 non-null  int64
 11  Road_Constr_Zone_Wrkr   630720 non-null  int64
 12  Investigat_Notify_Time  630720 non-null  object
 13  Investigat_Arrv_Time    630720 non-null  object
 14  Report_Date             630720 non-null  object
 15  Latitude                630720 non-null  float64
 16  Longitude               630720 non-null  float64
 17  Street_Name             630720 non-null  object
 18  Street_Nbr              630720 non-null  object
 19  Day_of_Week             630720 non-null  object
 20  Incap_Injry_Cnt         630720 non-null  int64
 21  Nonincap_Injry_Cnt      630720 non-null  int64
 22  Poss_Injry_Cnt          630720 non-null  int64
 23  Non_Injry_Cnt           630720 non-null  int64
 24  Unkn_Injry_Cnt          630720 non-null  int64
 25  Tot_Injry_Cnt           630720 non-null  int64
 26  Death_Cnt               630720 non-null  int64
dtypes: float64(2), int64(17), object(8)
memory usage: 129.9+ MB

In [10]:
#get some detail on the numbers
df.describe()

,Crash_Fatal,Cmv_Involv,Schl_Bus,Active_School_Zone,Outside_City_Limit,Private_Dr_Fl,Toll_Road_Fl,Crash_Speed_Limit,Road_Constr_Zone,Road_Constr_Zone_Wrkr,Latitude,Longitude,Incap_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
count,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000
mean,0.005495,0.061249,0.004593,0.005739,0.191663,0.064449,0.016004,40.823914,0.042694,0.014864,28.219115,-89.238869,0.028471,0.132583,0.268706,2.009289,0.179070,0.429760,0.006080
std,0.073926,0.239787,0.067617,0.075542,0.393610,0.245550,0.125490,18.171931,0.202167,0.121008,8.699321,26.998819,0.199019,0.459865,0.687584,1.926289,0.447161,0.851072,0.087325
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,-106.633995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,0.000000,0.000000,29.511571,-97.967222,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000,30.018876,-96.822971,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.000000,0.000000,0.000000,32.639664,-95.409453,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,85.000000,1.000000,1.000000,36.498356,0.000000,8.000000,40.000000,51.000000,105.000000,45.000000,51.000000,9.000000

In [11]:
df.head()

,Crash_Fatal,Cmv_Involv,Schl_Bus,Active_School_Zone,Crash_Date,Crash_Time,Outside_City_Limit,Private_Dr_Fl,Toll_Road_Fl,Crash_Speed_Limit,...,Street_Name,Street_Nbr,Day_of_Week,Incap_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
0,0,0,0,0,1/5/2016,10:59 AM,0,0,0,35,...,S ZARZAMORA ST,2307.0,TUE,0,0,0,2,0,0,0
1,0,0,0,0,1/30/2016,4:13 PM,0,0,0,35,...,SE 25TH AVE,711.0,SAT,0,0,0,5,0,0,0
2,0,0,0,0,2/9/2016,11:54 PM,0,0,0,25,...,LINNWOOD DR,0,TUE,0,0,0,1,0,0,0
3,0,0,0,0,1/1/2016,12:46 AM,0,0,0,40,...,IH0035E,0,FRI,0,0,0,3,0,0,0
4,0,0,0,0,1/1/2016,12:32 AM,0,0,0,35,...,SH0075,0,FRI,0,0,0,4,1,0,0

In [12]:
# check the counts for the first df
df.value_counts()

Crash_Fatal  Cmv_Involv  Schl_Bus  Active_School_Zone  Crash_Date  Crash_Time  Outside_City_Limit  Private_Dr_Fl  Toll_Road_Fl  Crash_Speed_Limit  Road_Constr_Zone  Road_Constr_Zone_Wrkr  Investigat_Notify_Time  Investigat_Arrv_Time  Report_Date  Latitude   Longitude   Street_Name      Street_Nbr  Day_of_Week  Incap_Injry_Cnt  Nonincap_Injry_Cnt  Poss_Injry_Cnt  Non_Injry_Cnt  Unkn_Injry_Cnt  Tot_Injry_Cnt  Death_Cnt
0            0           0         0                   4/19/2016   8:14 AM     0                   0              0              40                0                 0                      8:16 AM                 8:21 AM               4/19/2016    29.500359  -95.126504  FM0518           0           TUE          0                0                   1               1              0               1              0            2
                                                       4/12/2016   10:35 PM    0                   0              0              60                0                 0                      10:35 PM                10:44 PM              4/19/2016    29.788883  -95.394365  E 10TH ST        380         TUE          0                2                   0               0              0               2              0            2
                                                       2/2/2016    6:51 AM     0                   0              0             -1                 0                 0                      6:51 AM                 6:53 AM               2/2/2016     30.340515  -97.554573  S SAN MARCOS ST  0           TUE          0                0                   0               2              0               0              0            2
                                                       3/28/2016   4:15 PM     0                   0              0              35                0                 0                      5:51 PM                 5:57 PM               3/28/2016    32.833050  -97.215523  IH0820           0           MON          0                0                   0               2              0               0              0            2
                                                       8/9/2016    4:18 PM     0                   0              0              50                0                 0                      4:19 PM                 4:21 PM               8/9/2016     29.552044  -95.330925  FM1128           3099.0      TUE          0                0                   0               4              0               0              0            2
                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
                                                       2/17/2016   3:30 PM     0                   0              0              55                1                 0                      3:43 PM                 3:43 PM               2/17/2016    33.000002  -96.959681  IH0035E          0           WED          0                0                   0               2              0               0              0            1
                                                                                                                                 60                0                 0                      3:30 PM                 3:30 PM               2/17/2016    29.438415  -98.472607  IH0035           0           WED          0                0                   3               0              0               3              0            1
                                                                               1                   0              0              35                0                 0                      3:35 PM                 4:00 PM               2/19/2016    32.871723  -97.594292  FM0730           0           WED          0                0                   0               2              0               0              0            1
                                                                                                                                 65                0                 0                      3:30 PM                 3:59 PM               3/14/2016    30.189382  -96.256044  FM1155           1797.0      WED          0                0                   0               1              0               0              0            1
1            1           1         0                   9/5/2016    2:11 AM     0                   0              0              40                0                 0                      2:45 AM                 3:23 AM               9/5/2016     32.670848  -97.320454  IH0035W          0           MON          0                0                   0               0              0               0              1            1
Length: 630529, dtype: int64

In [13]:
wrangle.summarize(df)

There are total of 0 missing values in the entire dataframe.

-------------------
=====================================================


Dataframe head:
|    |   Crash_Fatal |   Cmv_Involv |   Schl_Bus |   Active_School_Zone | Crash_Date   | Crash_Time   |   Outside_City_Limit |   Private_Dr_Fl |   Toll_Road_Fl |   Crash_Speed_Limit |   Road_Constr_Zone |   Road_Constr_Zone_Wrkr | Investigat_Notify_Time   | Investigat_Arrv_Time   | Report_Date   |   Latitude |   Longitude | Street_Name    |   Street_Nbr | Day_of_Week   |   Incap_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |   Death_Cnt |
|---:|--------------:|-------------:|-----------:|---------------------:|:-------------|:-------------|---------------------:|----------------:|---------------:|--------------------:|-------------------:|------------------------:|:-------------------------|:-----------------------|:--------------|-----------:|------------:|:---------------|-------------:|:--------------|------------------:|---------------------:|-----------------:|----------------:|-----------------:|----------------:|------------:|
|  0 |             0 |            0 |          0 |                    0 | 1/5/2016     | 10:59 AM     |                    0 |               0 |              0 |                  35 |                  0 |                       0 | 11:10 AM                 | 11:20 AM               | 5/19/2016     |    29.4004 |    -98.5305 | S ZARZAMORA ST |         2307 | TUE           |                 0 |                    0 |                0 |               2 |                0 |               0 |           0 |
|  1 |             0 |            0 |          0 |                    0 | 1/30/2016    | 4:13 PM      |                    0 |               0 |              0 |                  35 |                  0 |                       0 | 4:12 PM                  | 4:15 PM                | 1/30/2016     |    32.8037 |    -98.0879 | SE 25TH AVE    |          711 | SAT           |                 0 |                    0 |                0 |               5 |                0 |               0 |           0 |
|  2 |             0 |            0 |          0 |                    0 | 2/9/2016     | 11:54 PM     |                    0 |               0 |              0 |                  25 |                  0 |                       0 | 11:53 PM                 | 12:10 AM               | 2/9/2016      |    30.1808 |    -95.1964 | LINNWOOD DR    |            0 | TUE           |                 0 |                    0 |                0 |               1 |                0 |               0 |           0 |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Crash_Fatal             630720 non-null  int64
 1   Cmv_Involv              630720 non-null  int64
 2   Schl_Bus                630720 non-null  int64
 3   Active_School_Zone      630720 non-null  int64
 4   Crash_Date              630720 non-null  object
 5   Crash_Time              630720 non-null  object
 6   Outside_City_Limit      630720 non-null  int64
 7   Private_Dr_Fl           630720 non-null  int64
 8   Toll_Road_Fl            630720 non-null  int64
 9   Crash_Speed_Limit       630720 non-null  int64
 10  Road_Constr_Zone        630720 non-null  int64
 11  Road_Constr_Zone_Wrkr   630720 non-null  int64
 12  Investigat_Notify_Time  630720 non-null  object
 13  Investigat_Arrv_Time    630720 non-null  object
 14  Report_Date             630720 non-null  object
 15  Latitude                630720 non-null  float64
 16  Longitude               630720 non-null  float64
 17  Street_Name             630720 non-null  object
 18  Street_Nbr              630720 non-null  object
 19  Day_of_Week             630720 non-null  object
 20  Incap_Injry_Cnt         630720 non-null  int64
 21  Nonincap_Injry_Cnt      630720 non-null  int64
 22  Poss_Injry_Cnt          630720 non-null  int64
 23  Non_Injry_Cnt           630720 non-null  int64
 24  Unkn_Injry_Cnt          630720 non-null  int64
 25  Tot_Injry_Cnt           630720 non-null  int64
 26  Death_Cnt               630720 non-null  int64
dtypes: float64(2), int64(17), object(8)
memory usage: 129.9+ MB
None
=====================================================


Dataframe Description:
|       |     Crash_Fatal |    Cmv_Involv |        Schl_Bus |   Active_School_Zone |   Outside_City_Limit |   Private_Dr_Fl |   Toll_Road_Fl |   Crash_Speed_Limit |   Road_Constr_Zone |   Road_Constr_Zone_Wrkr |     Latitude |   Longitude |   Incap_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |       Death_Cnt |
|:------|----------------:|--------------:|----------------:|---------------------:|---------------------:|----------------:|---------------:|--------------------:|-------------------:|------------------------:|-------------:|------------:|------------------:|---------------------:|-----------------:|----------------:|-----------------:|----------------:|----------------:|
| count | 630720          | 630720        | 630720          |      630720          |        630720        |  630720         | 630720         |         630720      |     630720         |           630720        | 630720       | 630720      |    630720         |        630720        |    630720        |    630720       |    630720        |   630720        | 630720          |
| mean  |      0.00549531 |      0.061249 |      0.00459316 |           0.00573947 |             0.191663 |       0.0644486 |      0.0160039 |             40.8239 |          0.0426941 |                0.014864 |     28.2191  |    -89.2389 |         0.0284706 |             0.132583 |         0.268706 |         2.00929 |         0.17907  |        0.42976  |      0.00608035 |
| std   |      0.0739264  |      0.239787 |      0.0676171  |           0.0755416  |             0.39361  |       0.24555   |      0.12549   |             18.1719 |          0.202167  |                0.121008 |      8.69932 |     26.9988 |         0.199019  |             0.459865 |         0.687584 |         1.92629 |         0.447161 |        0.851072 |      0.0873253  |
| min   |      0          |      0        |      0          |           0          |             0        |       0         |      0         |             -1      |          0         |                0        |      0       |   -106.634  |         0         |             0        |         0        |         0       |         0        |        0        |      0          |
| 25%   |      0          |      0        |      0          |           0          |             0        |       0         |      0         |             30      |          0         |                0        |     29.5116  |    -97.9672 |         0         |             0        |         0        |         1       |         0        |        0        |      0          |
| 50%   |      0          |      0        |      0          |           0          |             0        |       0         |      0         |             40      |          0         |                0        |     30.0189  |    -96.823  |         0         |             0        |         0        |         2       |         0        |        0        |      0          |
| 75%   |      0          |      0        |      0          |           0          |             0        |       0         |      0         |             55      |          0         |                0        |     32.6397  |    -95.4095 |         0         |             0        |         0        |         3       |         0        |        1        |      0          |
| max   |      1          |      1        |      1          |           1          |             1        |       1         |      1         |             85      |          1         |                1        |     36.4984  |      0      |         8         |            40        |        51        |       105       |        45        |       51        |      9          |
=====================================================
DataFrame value counts:
(-0.002, 0.1]    627254
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]         3466
Name: Crash_Fatal, dtype: int64
(-0.002, 0.1]    592089
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]        38631
Name: Cmv_Involv, dtype: int64
(-0.002, 0.1]    627823
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]         2897
Name: Schl_Bus, dtype: int64
(-0.002, 0.1]    627100
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]         3620
Name: Active_School_Zone, dtype: int64
12/16/2016    2547
12/2/2016     2510
12/3/2016     2432
5/6/2016      2332
10/7/2016     2312
              ...
7/10/2016     1173
1/3/2016      1144
11/24/2016    1122
1/10/2016     1050
12/25/2016     978
Name: Crash_Date, Length: 366, dtype: int64
5:00 PM    3909
6:00 PM    3737
4:00 PM    3707
3:00 PM    3236
8:00 AM    3127
           ...
4:11 AM      58
4:36 AM      58
4:09 AM      56
4:49 AM      53
4:17 AM      52
Name: Crash_Time, Length: 1440, dtype: int64
(-0.002, 0.1]    509834
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]       120886
Name: Outside_City_Limit, dtype: int64
(-0.002, 0.1]    590071
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]        40649
Name: Private_Dr_Fl, dtype: int64
(-0.002, 0.1]    620626
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]        10094
Name: Toll_Road_Fl, dtype: int64
(-1.087, 7.6]     50859
(7.6, 16.2]       10725
(16.2, 24.8]       5581
(24.8, 33.4]     108033
(33.4, 42.0]     174854
(42.0, 50.6]     117237
(50.6, 59.2]      34181
(59.2, 67.8]      83503
(67.8, 76.4]      44698
(76.4, 85.0]       1049
Name: Crash_Speed_Limit, dtype: int64
(-0.002, 0.1]    603792
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]        26928
Name: Road_Constr_Zone, dtype: int64
(-0.002, 0.1]    621345
(0.1, 0.2]            0
(0.2, 0.3]            0
(0.3, 0.4]            0
(0.4, 0.5]            0
(0.5, 0.6]            0
(0.6, 0.7]            0
(0.7, 0.8]            0
(0.8, 0.9]            0
(0.9, 1.0]         9375
Name: Road_Constr_Zone_Wrkr, dtype: int64
5:30 PM    1504
5:00 PM    1471
4:00 PM    1432
6:00 PM    1421
4:30 PM    1349
           ...
4:17 AM      80
4:51 AM      79
4:48 AM      79
4:22 AM      78
4:32 AM      78
Name: Investigat_Notify_Time, Length: 1440, dtype: int64
5:00 PM    1424
5:30 PM    1415
5:45 PM    1413
4:30 PM    1385
6:00 PM    1344
           ...
4:36 AM      81
5:02 AM      81
4:54 AM      79
4:19 AM      79
4:23 AM      78
Name: Investigat_Arrv_Time, Length: 1440, dtype: int64
3/9/2016      2339
2/23/2016     2292
12/3/2016     2282
12/2/2016     2280
12/16/2016    2267
              ...
5/4/2017         6
4/15/2017        5
5/5/2017         2
4/29/2017        2
4/22/2017        2
Name: Report_Date, Length: 491, dtype: int64
(-0.0375, 3.65]      52527
(3.65, 7.3]              0
(7.3, 10.95]             0
(10.95, 14.599]          0
(14.599, 18.249]         0
(18.249, 21.899]         0
(21.899, 25.549]         0
(25.549, 29.199]     55879
(29.199, 32.849]    433134
(32.849, 36.498]     89180
Name: Latitude, dtype: int64
(-106.742, -95.971]    381910
(-95.971, -85.307]     196283
(-85.307, -74.644]          0
(-74.644, -63.98]           0
(-63.98, -53.317]           0
(-53.317, -42.654]          0
(-42.654, -31.99]           0
(-31.99, -21.327]           0
(-21.327, -10.663]          0
(-10.663, 0.0]          52527
Name: Longitude, dtype: int64
IH0010             17615
IH0035             14677
IH0045             14278
IH0020              7185
IH0035E             6820
                   ...
GONZALES CR 444        1
PARK MAPLE DR          1
CR 4343                1
E HIGHWAY 31           1
TRINIDAD LN            1
Name: Street_Name, Length: 52352, dtype: int64
0          348692
100.0        2589
200.0        1260
101.0        1208
300.0        1060
            ...
17802.0         1
25603           1
17799.0         1
3461            1
2651            1
Name: Street_Nbr, Length: 32418, dtype: int64
FRI    107982
THU     93391
WED     90935
TUE     90162
MON     89297
SAT     88351
SUN     70602
Name: Day_of_Week, dtype: int64
(-0.009000000000000001, 0.8]    615520
(0.8, 1.6]                       13132
(1.6, 2.4]                        1593
(2.4, 3.2]                         337
(3.2, 4.0]                          85
(4.0, 4.8]                           0
(4.8, 5.6]                          37
(5.6, 6.4]                          11
(6.4, 7.2]                           3
(7.2, 8.0]                           2
Name: Incap_Injry_Cnt, dtype: int64
(-0.041, 4.0]    630215
(4.0, 8.0]          481
(8.0, 12.0]          21
(12.0, 16.0]          0
(16.0, 20.0]          1
(20.0, 24.0]          0
(24.0, 28.0]          0
(28.0, 32.0]          1
(32.0, 36.0]          0
(36.0, 40.0]          1
Name: Nonincap_Injry_Cnt, dtype: int64
(-0.052, 5.1]    629999
(5.1, 10.2]         684
(10.2, 15.3]         24
(15.3, 20.4]          4
(20.4, 25.5]          5
(25.5, 30.6]          2
(30.6, 35.7]          1
(35.7, 40.8]          0
(40.8, 45.9]          0
(45.9, 51.0]          1
Name: Poss_Injry_Cnt, dtype: int64
(-0.106, 10.5]    629177
(10.5, 21.0]         956
(21.0, 31.5]         272
(31.5, 42.0]         186
(42.0, 52.5]          88
(52.5, 63.0]          28
(63.0, 73.5]           8
(73.5, 84.0]           3
(84.0, 94.5]           1
(94.5, 105.0]          1
Name: Non_Injry_Cnt, dtype: int64
(-0.046, 4.5]    630479
(4.5, 9.0]          223
(9.0, 13.5]           8
(13.5, 18.0]          5
(18.0, 22.5]          0
(22.5, 27.0]          3
(27.0, 31.5]          0
(31.5, 36.0]          0
(36.0, 40.5]          0
(40.5, 45.0]          2
Name: Unkn_Injry_Cnt, dtype: int64
(-0.052, 5.1]    629356
(5.1, 10.2]        1306
(10.2, 15.3]         40
(15.3, 20.4]          6
(20.4, 25.5]          3
(25.5, 30.6]          3
(30.6, 35.7]          3
(35.7, 40.8]          1
(40.8, 45.9]          1
(45.9, 51.0]          1
Name: Tot_Injry_Cnt, dtype: int64
(-0.009999999999999998, 0.9]    627254
(0.9, 1.8]                        3184
(1.8, 2.7]                         220
(2.7, 3.6]                          45
(3.6, 4.5]                          13
(4.5, 5.4]                           3
(5.4, 6.3]                           0
(6.3, 7.2]                           0
(7.2, 8.1]                           0
(8.1, 9.0]                           1
Name: Death_Cnt, dtype: int64
=====================================================
nulls in dataframe by column:

NameError: name 'nulls_by_col' is not defined

In [ ]:
num_cols = df.columns[[df[col].dtype == 'int64' for col in df.columns]]
for col in num_cols:
    plt.hist(df[col])
    plt.title(col)
    plt.show()

In [17]:
# setting a function to split the data to use in a wrangle.py file
# splitting the df to build models to test
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [19]:
# Stratify with categorical target variables
train, validate, test = train_validate_test_split(df, target='Crash_Fatal')
train.shape, validate.shape, test.shape

print(f'Train shape: {train.shape}, Validate shape: {validate.shape}, Test shape: {test.shape}')
print('Row count of original dataset:', df.shape[0])
print('Row count of combined data splits:', train.shape[0] + validate.shape[0] + test.shape[0])

Train shape: (353203, 27), Validate shape: (151373, 27), Test shape: (126144, 27)
Row count of original dataset: 630720
Row count of combined data splits: 630720