In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle

In [2]:
# create df from csv file and take a look
df = pd.read_csv('crash_2016.csv')
print('shape:', df.shape)
df.head()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19,34,37,44,46,80,84,88,91,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

shape: (630720, 171)

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,14207787,N,N,N,N,N,Y,N,01/05/2016,10:59 AM,...,0,0,2,0,0,0,28.0,175.0,NaN,NaN
1,14259624,N,N,N,N,N,Y,N,01/30/2016,04:13 PM,...,0,0,5,0,0,0,NaN,35.0,NaN,NaN
2,14768622,N,N,N,N,N,Y,N,02/09/2016,11:54 PM,...,0,0,1,0,0,0,15.0,35.0,NaN,NaN
3,14838618,N,N,N,N,N,N,N,01/01/2016,12:46 AM,...,0,0,3,0,0,0,282.0,35.0,NaN,NaN
4,14838631,N,N,N,N,N,N,N,01/01/2016,12:32 AM,...,0,0,4,1,0,0,15.0,35.0,NaN,NaN

In [3]:
# deleting columns not needed for my review
df.drop(columns=['Investigat_Service_ID', 'Investigat_DA_ID', 'Investigator_Narrative', 'Standstop',
                'Yield', 'Poscrossing_ID', 'WDCode_ID', 'CrossingNumber', 'RRCo', 'Bridge_Rte_Struct_Func_ID',
                'Bridge_IR_Struct_Func_ID', 'Deck_Width', 'Bridge_Dir_Of_Traffic_ID', 'Culvert_Type_ID', 'Roadway_Width',
                'Bridge_Srvc_Type_On_ID', 'Bridge_Srvc_Type_Under_ID', 'Bridge_Loading_Type_ID', 'Bridge_Loading_In_1000_Lbs',
                'Approach_Width', 'Bridge_Median_ID', 'Structure_Number', 'I_R_Min_Vert_Clear', 'Dd_Degr',
                'Feature_Crossed', 'Cd_Degr', 'Delta_Left_Right_ID', 'Curve_Type_ID', 'Curve_Lngth', 'Shldr_Use_Left_ID',
                'Approach_Width', 'Bridge_Rte_Struct_Func_ID', 'Shldr_Use_Right_ID', 'Othr_Factr_ID', 'Bridge_Srvc_Type_On_ID',
                'Bridge_Srvc_Type_Under_ID', 'Road_Algn_ID', 'Delta_Left_Right_ID', 'Cd_Degr', 'Delta_Left_Right_ID',
                'Dd_Degr'])

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Pct_Combo_Trk_Adt,Trk_Aadt_Pct,Incap_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID
0,14207787,N,N,N,N,N,Y,N,01/05/2016,10:59 AM,...,NaN,NaN,0,0,0,2,0,0,0,28.0
1,14259624,N,N,N,N,N,Y,N,01/30/2016,04:13 PM,...,NaN,NaN,0,0,0,5,0,0,0,NaN
2,14768622,N,N,N,N,N,Y,N,02/09/2016,11:54 PM,...,NaN,NaN,0,0,0,1,0,0,0,15.0
3,14838618,N,N,N,N,N,N,N,01/01/2016,12:46 AM,...,34.6,38.0,0,0,0,3,0,0,0,282.0
4,14838631,N,N,N,N,N,N,N,01/01/2016,12:32 AM,...,2.9,10.6,0,0,0,4,1,0,0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630715,15732878,N,N,N,N,N,Y,N,12/29/2016,08:37 PM,...,2.9,5.3,0,0,0,2,0,0,0,230.0
630716,15732880,N,N,N,N,N,Y,N,12/16/2016,12:00 PM,...,4.8,9.8,0,0,0,4,0,0,0,230.0
630717,15732920,N,N,N,N,N,Y,N,12/28/2016,10:18 AM,...,0.2,1.5,0,0,0,2,0,0,0,230.0
630718,15733313,N,N,N,N,N,N,N,12/18/2016,03:30 AM,...,NaN,NaN,0,0,0,1,0,0,0,NaN
630719,15737489,N,N,N,N,N,N,N,12/26/2016,12:28 PM,...,7.6,10.2,0,1,0,5,0,1,0,90.0

In [4]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Columns: 171 entries, Crash_ID to Investigator_Narrative
dtypes: float64(77), int64(35), object(59)
memory usage: 822.9+ MB

In [5]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 46097421 missing values in total.

In [6]:
#get some detail on the numbers
df.describe()

,Crash_ID,Rpt_CRIS_Cnty_ID,Rpt_City_ID,Rpt_Latitude,Rpt_Longitude,Rpt_Rdwy_Sys_ID,Rpt_Road_Part_ID,Crash_Speed_Limit,Rpt_Sec_Rdwy_Sys_ID,Rpt_Sec_Road_Part_ID,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
count,6.307200e+05,630720.000000,630720.000000,153231.000000,153231.000000,630720.000000,630720.000000,630720.000000,608659.000000,608130.000000,...,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,630720.000000,513512.000000,565781.000000,253188.000000,0.0
mean,1.519703e+07,108.232861,521.366224,31.013700,-96.942587,11.668431,1.408570,40.823914,15.957122,1.248695,...,0.132583,0.268706,2.009289,0.179070,0.429760,0.006080,131.280383,105.173838,111.387917,NaN
std,2.005272e+05,70.245937,630.720725,1.821750,1.977573,7.886571,1.334039,18.171931,5.864234,1.108207,...,0.459865,0.687584,1.926289,0.447161,0.851072,0.087325,115.074012,174.629471,260.511146,NaN
min,1.317352e+07,1.000000,1.000000,25.837460,-106.645920,1.000000,1.000000,-1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,1.000000,1.000000,NaN
25%,1.502060e+07,57.000000,136.000000,29.895650,-97.745235,3.000000,1.000000,30.000000,15.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000,24.000000,8.000000,NaN
50%,1.520226e+07,101.000000,254.000000,30.424450,-96.672160,15.000000,1.000000,40.000000,19.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,90.000000,35.000000,17.000000,NaN
75%,1.536763e+07,165.000000,427.000000,32.715225,-95.457530,19.000000,1.000000,55.000000,19.000000,1.000000,...,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,282.000000,123.000000,63.000000,NaN
max,1.573935e+07,254.000000,8862.000000,36.500480,-93.507950,19.000000,7.000000,85.000000,19.000000,10.000000,...,40.000000,51.000000,105.000000,45.000000,51.000000,9.000000,363.000000,1326.000000,1403.000000,NaN

In [7]:
df.head()

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,14207787,N,N,N,N,N,Y,N,01/05/2016,10:59 AM,...,0,0,2,0,0,0,28.0,175.0,NaN,NaN
1,14259624,N,N,N,N,N,Y,N,01/30/2016,04:13 PM,...,0,0,5,0,0,0,NaN,35.0,NaN,NaN
2,14768622,N,N,N,N,N,Y,N,02/09/2016,11:54 PM,...,0,0,1,0,0,0,15.0,35.0,NaN,NaN
3,14838618,N,N,N,N,N,N,N,01/01/2016,12:46 AM,...,0,0,3,0,0,0,282.0,35.0,NaN,NaN
4,14838631,N,N,N,N,N,N,N,01/01/2016,12:32 AM,...,0,0,4,1,0,0,15.0,35.0,NaN,NaN

In [8]:
# check the counts for the first df
df.value_counts()

Series([], dtype: int64)

In [9]:
wrangle.summarize(df)

There are total of 46097421 missing values in the entire dataframe.

-------------------
=====================================================


Dataframe head:
|    |   Crash_ID | Crash_Fatal_Fl   | Cmv_Involv_Fl   | Schl_Bus_Fl   | Rr_Relat_Fl   | Medical_Advisory_Fl   | Amend_Supp_Fl   | Active_School_Zone_Fl   | Crash_Date   | Crash_Time   | Case_ID      |   Local_Use |   Rpt_CRIS_Cnty_ID |   Rpt_City_ID | Rpt_Outside_City_Limit_Fl   | Thousand_Damage_Fl   |   Rpt_Latitude |   Rpt_Longitude |   Rpt_Rdwy_Sys_ID |   Rpt_Hwy_Num |   Rpt_Hwy_Sfx |   Rpt_Road_Part_ID |   Rpt_Block_Num | Rpt_Street_Pfx   | Rpt_Street_Name   | Rpt_Street_Sfx   | Private_Dr_Fl   | Toll_Road_Fl   |   Crash_Speed_Limit | Road_Constr_Zone_Fl   | Road_Constr_Zone_Wrkr_Fl   | Rpt_Street_Desc        | At_Intrsct_Fl   |   Rpt_Sec_Rdwy_Sys_ID |   Rpt_Sec_Hwy_Num |   Rpt_Sec_Hwy_Sfx |   Rpt_Sec_Road_Part_ID |   Rpt_Sec_Block_Num | Rpt_Sec_Street_Pfx   | Rpt_Sec_Street_Name   | Rpt_Sec_Street_Sfx   |   Rpt_Ref_Mark_Offset_Amt |   Rpt_Ref_Mark_Dist_Uom |   Rpt_Ref_Mark_Dir |   Rpt_Ref_Mark_Nbr | Rpt_Sec_Street_Desc    |   Rpt_CrossingNumber |   Wthr_Cond_ID |   Light_Cond_ID |   Entr_Road_ID |   Road_Type_ID |   Road_Algn_ID |   Surf_Cond_ID |   Traffic_Cntl_ID | Investigat_Notify_Time   | Investigat_Notify_Meth   | Investigat_Arrv_Time   | Report_Date   | Investigat_Comp_Fl   | ORI_Number   |   Investigat_Agency_ID |   Investigat_Area_ID |   Investigat_District_ID |   Investigat_Region_ID |   Bridge_Detail_ID |   Harm_Evnt_ID |   Intrsct_Relat_ID |   FHE_Collsn_ID |   Obj_Struck_ID |   Othr_Factr_ID |   Road_Part_Adj_ID |   Road_Cls_ID |   Road_Relat_ID |   Phys_Featr_1_ID |   Phys_Featr_2_ID |   Cnty_ID |   City_ID |   Latitude |   Longitude |   Hwy_Sys |   Hwy_Nbr |   Hwy_Sfx |   Dfo | Street_Name    |   Street_Nbr |   Control |   Section |   Milepoint |   Ref_Mark_Nbr |   Ref_Mark_Displ |   Hwy_Sys_2 |   Hwy_Nbr_2 |   Hwy_Sfx_2 | Street_Name_2               |   Street_Nbr_2 |   Control_2 |   Section_2 |   Milepoint_2 | Txdot_Rptable_Fl   | Onsys_Fl   | Rural_Fl   |   Crash_Sev_ID |   Pop_Group_ID | Located_Fl   | Day_of_Week   |   Hwy_Dsgn_Lane_ID |   Hwy_Dsgn_Hrt_ID |   Hp_Shldr_Left |   Hp_Shldr_Right |   Hp_Median_Width |   Base_Type_ID |   Nbr_Of_Lane |   Row_Width_Usual |   Roadbed_Width |   Surf_Width |   Surf_Type_ID |   Curb_Type_Left_ID |   Curb_Type_Right_ID |   Shldr_Type_Left_ID |   Shldr_Width_Left |   Shldr_Use_Left_ID |   Shldr_Type_Right_ID |   Shldr_Width_Right |   Shldr_Use_Right_ID |   Median_Type_ID |   Median_Width |   Rural_Urban_Type_ID |   Func_Sys_ID |   Adt_Curnt_Amt |   Adt_Curnt_Year |   Adt_Adj_Curnt_Amt |   Pct_Single_Trk_Adt |   Pct_Combo_Trk_Adt |   Trk_Aadt_Pct |   Curve_Type_ID |   Curve_Lngth |   Cd_Degr |   Delta_Left_Right_ID |   Dd_Degr |   Feature_Crossed |   Structure_Number |   I_R_Min_Vert_Clear |   Approach_Width |   Bridge_Median_ID |   Bridge_Loading_Type_ID |   Bridge_Loading_In_1000_Lbs |   Bridge_Srvc_Type_On_ID |   Bridge_Srvc_Type_Under_ID |   Culvert_Type_ID |   Roadway_Width |   Deck_Width |   Bridge_Dir_Of_Traffic_ID |   Bridge_Rte_Struct_Func_ID |   Bridge_IR_Struct_Func_ID |   CrossingNumber |   RRCo |   Poscrossing_ID |   WDCode_ID |   Standstop |   Yield |   Incap_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |   Death_Cnt |   MPO_ID |   Investigat_Service_ID |   Investigat_DA_ID |   Investigator_Narrative |
|---:|-----------:|:-----------------|:----------------|:--------------|:--------------|:----------------------|:----------------|:------------------------|:-------------|:-------------|:-------------|------------:|-------------------:|--------------:|:----------------------------|:---------------------|---------------:|----------------:|------------------:|--------------:|--------------:|-------------------:|----------------:|:-----------------|:------------------|:-----------------|:----------------|:---------------|--------------------:|:----------------------|:---------------------------|:-----------------------|:----------------|----------------------:|------------------:|------------------:|-----------------------:|--------------------:|:---------------------|:----------------------|:---------------------|--------------------------:|------------------------:|-------------------:|-------------------:|:-----------------------|---------------------:|---------------:|----------------:|---------------:|---------------:|---------------:|---------------:|------------------:|:-------------------------|:-------------------------|:-----------------------|:--------------|:---------------------|:-------------|-----------------------:|---------------------:|-------------------------:|-----------------------:|-------------------:|---------------:|-------------------:|----------------:|----------------:|----------------:|-------------------:|--------------:|----------------:|------------------:|------------------:|----------:|----------:|-----------:|------------:|----------:|----------:|----------:|------:|:---------------|-------------:|----------:|----------:|------------:|---------------:|-----------------:|------------:|------------:|------------:|:----------------------------|---------------:|------------:|------------:|--------------:|:-------------------|:-----------|:-----------|---------------:|---------------:|:-------------|:--------------|-------------------:|------------------:|----------------:|-----------------:|------------------:|---------------:|--------------:|------------------:|----------------:|-------------:|---------------:|--------------------:|---------------------:|---------------------:|-------------------:|--------------------:|----------------------:|--------------------:|---------------------:|-----------------:|---------------:|----------------------:|--------------:|----------------:|-----------------:|--------------------:|---------------------:|--------------------:|---------------:|----------------:|--------------:|----------:|----------------------:|----------:|------------------:|-------------------:|---------------------:|-----------------:|-------------------:|-------------------------:|-----------------------------:|-------------------------:|----------------------------:|------------------:|----------------:|-------------:|---------------------------:|----------------------------:|---------------------------:|-----------------:|-------:|-----------------:|------------:|------------:|--------:|------------------:|---------------------:|-----------------:|----------------:|-----------------:|----------------:|------------:|---------:|------------------------:|-------------------:|-------------------------:|
|  0 |   14207787 | N                | N               | N             | N             | N                     | Y               | N                       | 01/05/2016   | 10:59 AM     | SAPD15002953 |        6140 |                 15 |           379 | N                           | Y                    |            nan |             nan |                19 |           nan |           nan |                  1 |            8600 | S                | ZARZAMORA         | ST               | N               | N              |                  35 | N                     | N                          | nan                    | N               |                    19 |               nan |               nan |                      1 |                 500 | nan                  | A                     | ST                   |                       nan |                     nan |                nan |                nan | nan                    |                  nan |             12 |               1 |              0 |            nan |              1 |              1 |                11 | 11:10 AM                 | DISPATCHED               | 11:20 AM               | 05/19/2016    | Y                    | TXSPD0000    |                   2473 |                  nan |                      nan |                     11 |                  8 |              2 |                  4 |              30 |              64 |              54 |                  1 |             5 |               1 |                21 |                21 |        15 |       379 |    29.4004 |    -98.5305 |       nan |       nan |       nan |   nan | S ZARZAMORA ST |         2307 |       nan |       nan |         nan |            nan |              nan |         nan |         nan |         nan | nan                         |            nan |         nan |         nan |           nan | Y                  | N          | N          |              5 |              9 | Y            | TUE           |                nan |               nan |             nan |              nan |               nan |            nan |           nan |               nan |             nan |          nan |            nan |                 nan |                  nan |                  nan |                nan |                 nan |                   nan |                 nan |                  nan |              nan |            nan |                   nan |           nan |             nan |              nan |                 nan |                  nan |                 nan |            nan |             nan |           nan |       nan |                   nan |       nan |               nan |                nan |                  nan |              nan |                nan |                      nan |                          nan |                      nan |                         nan |               nan |             nan |          nan |                        nan |                         nan |                        nan |              nan |    nan |              nan |         nan |         nan |     nan |                 0 |                    0 |                0 |               2 |                0 |               0 |           0 |       28 |                     175 |                nan |                      nan |
|  1 |   14259624 | N                | N               | N             | N             | N                     | Y               | N                       | 01/30/2016   | 04:13 PM     | 1500002758   |         nan |                182 |           294 | N                           | Y                    |            nan |             nan |                19 |           nan |           nan |                  1 |             700 | SE               | 25TH              | AVE              | N               | N              |                  35 | N                     | N                          | PAVED                  | Y               |                    19 |               nan |               nan |                      1 |                2500 | SE                   | MARTIN LUTHER KING JR | nan                  |                       nan |                     nan |                nan |                nan | PAVED                  |                  nan |             11 |               1 |              4 |            nan |              1 |              1 |                20 | 04:12 PM                 | DISPATCH                 | 04:15 PM               | 01/30/2016    | Y                    | TX1820200    |                   1790 |                  nan |                      nan |                    nan |                  8 |              2 |                  1 |              34 |              64 |              54 |                  1 |             5 |               1 |                21 |                21 |       182 |       294 |    32.8037 |    -98.0879 |       nan |       nan |       nan |   nan | SE 25TH AVE    |          711 |       nan |       nan |         nan |            nan |              nan |         nan |         nan |         nan | SE MARTIN LUTHER KING JR ST |            nan |         nan |         nan |           nan | Y                  | N          | N          |              5 |              5 | Y            | SAT           |                nan |               nan |             nan |              nan |               nan |            nan |           nan |               nan |             nan |          nan |            nan |                 nan |                  nan |                  nan |                nan |                 nan |                   nan |                 nan |                  nan |              nan |            nan |                   nan |           nan |             nan |              nan |                 nan |                  nan |                 nan |            nan |             nan |           nan |       nan |                   nan |       nan |               nan |                nan |                  nan |              nan |                nan |                      nan |                          nan |                      nan |                         nan |               nan |             nan |          nan |                        nan |                         nan |                        nan |              nan |    nan |              nan |         nan |         nan |     nan |                 0 |                    0 |                0 |               5 |                0 |               0 |           0 |      nan |                      35 |                nan |                      nan |
|  2 |   14768622 | N                | N               | N             | N             | N                     | Y               | N                       | 02/09/2016   | 11:54 PM     | 1511R252     |         nan |                170 |          1489 | N                           | Y                    |            nan |             nan |                19 |           nan |           nan |                  1 |             300 | E                | LINNWOOD          | DR               | N               | N              |                  25 | N                     | N                          | PAVED ASPHAULT TWO WAY | N               |                    19 |               nan |               nan |                      2 |               18200 | N                    | RAILROAD              | AVE                  |                       nan |                     nan |                nan |                nan | PAVED ASPHAULT TWO WAY |                  nan |             11 |               3 |              0 |            nan |              1 |              1 |                20 | 11:53 PM                 | DISPATCHED               | 12:10 AM               | 02/09/2016    | Y                    | TX1700700    |                   2040 |                  nan |                      nan |                    nan |                  8 |              7 |                  4 |               1 |              22 |              54 |                  1 |             5 |               2 |                21 |                21 |       170 |      1489 |    30.1808 |    -95.1964 |       nan |       nan |       nan |   nan | LINNWOOD DR    |          nan |       nan |       nan |         nan |            nan |              nan |         nan |         nan |         nan | nan                         |            nan |         nan |         nan |           nan | Y                  | N          | Y          |              5 |              1 | Y            | TUE           |                nan |               nan |             nan |              nan |               nan |            nan |           nan |               nan |             nan |          nan |            nan |                 nan |                  nan |                  nan |                nan |                 nan |                   nan |                 nan |                  nan |              nan |            nan |                   nan |           nan |             nan |              nan |                 nan |                  nan |                 nan |            nan |             nan |           nan |       nan |                   nan |       nan |               nan |                nan |                  nan |              nan |                nan |                      nan |                          nan |                      nan |                         nan |               nan |             nan |          nan |                        nan |                         nan |                        nan |              nan |    nan |              nan |         nan |         nan |     nan |                 0 |                    0 |                0 |               1 |                0 |               0 |           0 |       15 |                      35 |                nan |                      nan |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Columns: 171 entries, Crash_ID to Investigator_Narrative
dtypes: float64(77), int64(35), object(59)
memory usage: 822.9+ MB
None
=====================================================


Dataframe Description:
|       |         Crash_ID |   Rpt_CRIS_Cnty_ID |   Rpt_City_ID |   Rpt_Latitude |   Rpt_Longitude |   Rpt_Rdwy_Sys_ID |   Rpt_Road_Part_ID |   Crash_Speed_Limit |   Rpt_Sec_Rdwy_Sys_ID |   Rpt_Sec_Road_Part_ID |   Rpt_Ref_Mark_Offset_Amt |   Wthr_Cond_ID |   Light_Cond_ID |   Entr_Road_ID |   Road_Type_ID |   Road_Algn_ID |   Surf_Cond_ID |   Traffic_Cntl_ID |   Investigat_Agency_ID |   Investigat_Area_ID |   Investigat_District_ID |   Investigat_Region_ID |   Bridge_Detail_ID |   Harm_Evnt_ID |   Intrsct_Relat_ID |   FHE_Collsn_ID |   Obj_Struck_ID |   Othr_Factr_ID |   Road_Part_Adj_ID |   Road_Cls_ID |   Road_Relat_ID |   Phys_Featr_1_ID |   Phys_Featr_2_ID |     Cnty_ID |    City_ID |     Latitude |    Longitude |        Dfo |    Control |      Section |   Milepoint |   Ref_Mark_Displ |   Street_Nbr_2 |   Control_2 |   Section_2 |   Milepoint_2 |   Crash_Sev_ID |   Pop_Group_ID |   Hwy_Dsgn_Lane_ID |   Hwy_Dsgn_Hrt_ID |   Hp_Shldr_Left |   Hp_Shldr_Right |   Hp_Median_Width |   Base_Type_ID |   Nbr_Of_Lane |   Row_Width_Usual |   Roadbed_Width |   Surf_Width |   Surf_Type_ID |   Curb_Type_Left_ID |   Curb_Type_Right_ID |   Shldr_Type_Left_ID |   Shldr_Width_Left |   Shldr_Use_Left_ID |   Shldr_Type_Right_ID |   Shldr_Width_Right |   Shldr_Use_Right_ID |   Median_Type_ID |   Median_Width |   Rural_Urban_Type_ID |   Func_Sys_ID |   Adt_Curnt_Amt |   Adt_Curnt_Year |   Adt_Adj_Curnt_Amt |   Pct_Single_Trk_Adt |   Pct_Combo_Trk_Adt |   Trk_Aadt_Pct |   Curve_Type_ID |   Curve_Lngth |     Cd_Degr |   Delta_Left_Right_ID |    Dd_Degr |   Feature_Crossed |   Structure_Number |   I_R_Min_Vert_Clear |   Approach_Width |   Bridge_Median_ID |   Bridge_Loading_Type_ID |   Bridge_Loading_In_1000_Lbs |   Bridge_Srvc_Type_On_ID |   Bridge_Srvc_Type_Under_ID |   Culvert_Type_ID |   Roadway_Width |   Deck_Width |   Bridge_Dir_Of_Traffic_ID |   Bridge_Rte_Struct_Func_ID |   Bridge_IR_Struct_Func_ID |   Poscrossing_ID |   WDCode_ID |   Standstop |   Yield |   Incap_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |       Death_Cnt |     MPO_ID |   Investigat_Service_ID |   Investigat_DA_ID |   Investigator_Narrative |

ValueError: Bin edges must be unique: array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]).
You can drop duplicate edges by setting the 'duplicates' kwarg