In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle

In [5]:
# create df from csv file and take a look
df = pd.read_csv('crash_2016.csv')
print('shape:', df.shape)
df.head()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19,34,37,44,46,80,84,88,91,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

shape: (630720, 171)

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,14207787,N,N,N,N,N,Y,N,01/05/2016,10:59 AM,...,0,0,2,0,0,0,28.0,175.0,NaN,NaN
1,14259624,N,N,N,N,N,Y,N,01/30/2016,04:13 PM,...,0,0,5,0,0,0,NaN,35.0,NaN,NaN
2,14768622,N,N,N,N,N,Y,N,02/09/2016,11:54 PM,...,0,0,1,0,0,0,15.0,35.0,NaN,NaN
3,14838618,N,N,N,N,N,N,N,01/01/2016,12:46 AM,...,0,0,3,0,0,0,282.0,35.0,NaN,NaN
4,14838631,N,N,N,N,N,N,N,01/01/2016,12:32 AM,...,0,0,4,1,0,0,15.0,35.0,NaN,NaN

In [8]:
# too many colums to delete, need to delete before bringing in csv file.
# deleting columns not needed for my review
df = df.drop(columns=['Investigat_Service_ID', 'Investigat_DA_ID', 'Investigator_Narrative', 'Standstop',
                'Yield', 'Poscrossing_ID', 'WDCode_ID', 'CrossingNumber', 'RRCo', 'Bridge_Rte_Struct_Func_ID',
                'Bridge_IR_Struct_Func_ID', 'Deck_Width', 'Bridge_Dir_Of_Traffic_ID', 'Culvert_Type_ID', 'Roadway_Width',
                'Bridge_Srvc_Type_On_ID', 'Bridge_Srvc_Type_Under_ID', 'Bridge_Loading_Type_ID', 'Bridge_Loading_In_1000_Lbs',
                'Approach_Width', 'Bridge_Median_ID', 'Structure_Number', 'I_R_Min_Vert_Clear', 'Dd_Degr',
                'Feature_Crossed', 'Cd_Degr', 'Delta_Left_Right_ID', 'Curve_Type_ID', 'Curve_Lngth', 'Shldr_Use_Left_ID',
                'Approach_Width', 'Bridge_Rte_Struct_Func_ID', 'Shldr_Use_Right_ID', 'Othr_Factr_ID', 'Bridge_Srvc_Type_On_ID',
                'Bridge_Srvc_Type_Under_ID', 'Road_Algn_ID', 'Delta_Left_Right_ID', 'Cd_Degr', 'Delta_Left_Right_ID',
                'Dd_Degr'])

In [9]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630720 entries, 0 to 630719
Columns: 138 entries, Crash_ID to MPO_ID
dtypes: float64(48), int64(33), object(57)
memory usage: 664.1+ MB

In [10]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 28285049 missing values in total.

In [ ]:
#get some detail on the numbers
df.describe()

In [ ]:
df.head()

In [ ]:
# check the counts for the first df
df.value_counts()

In [ ]:
wrangle.summarize(df)

shape: (81740, 31)

,Crash_ID,Crash_Fatal,Cmv_Involv,Schl_Bus,Medical_Advisory,Active_School_Zone,Crash_Date,Crash_Time,Rpt_Outside_City_Limit,Rpt_Block_Num,...,Street_Name,Street_Name_2,Day_of_Week,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
0,17562314,N,N,N,N,N,10/28/2021,6:49 AM,N,400,...,FM0544,NaN,THU,0,0,1,3,0,1,0
1,18534544,N,N,N,N,N,10/18/2021,12:33 AM,N,5000,...,IH0045,NaN,MON,0,0,0,1,0,0,0
2,18534557,N,N,N,N,N,10/18/2021,11:35 PM,N,7200,...,IH0035E,NaN,MON,0,0,0,1,0,0,0
3,18534558,N,N,N,N,N,10/18/2021,12:10 AM,N,700,...,US0080,NaN,MON,1,0,0,0,0,1,0
4,18534587,N,N,N,N,N,10/18/2021,12:47 AM,N,100,...,PLAZA DR,NaN,MON,0,0,0,1,0,0,0